@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *,[data-theme=dark], [data-theme=dark] *));

/* Custom themes. View all the options at https://v5.daisyui.com/docs/themes/#-2 */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --var-color-base-heading: var(--color-gray-900);
  --var-radius-img: 1rem;
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --var-color-base-heading: var(--color-white);
  --var-radius-img: 1rem;
}

@theme inline {
  --color-base-heading: var(--var-color-base-heading,var(--color-base-content));
  --radius-img: var(--var-radius-img, var(--radius-box));
  /* 
  --color-bg: var(--var-color-bg) ;
  --color-bg-alt: var(--var-color-bg-alt) ;
  --color-bg-contrast: var(--var-color-bg-contrast) ;
  */ 
}

@theme {
  /* Common to all themes */

  --animate-in-by-left: in-by-left 2s ease-out;
  --animate-in-by-right: in-by-right 2s ease-out;
  --animate-fade-in: fade-in 2s ease-out;
  --animate-floating: floating 3s ease-in-out infinite;
  --animate-floating-shadow: floating-shadow 3s ease-in-out infinite;

  @keyframes in-by-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes in-by-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10%);
    }
  }
  @keyframes floating-shadow {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 20px 20px 1px rgba(0, 0, 0, 0.7);
    }
    50% {
      transform: scale(0.8);
      opacity: 0.5;
      box-shadow: 0 20px 20px 1px rgba(0, 0, 0, 0.5);
    }
  }
}

@layer base {
  html {
    @apply antialiased scroll-smooth
  }

  /* Heading defaults */

  h1, h2, h3, h4 {
    @apply font-bold text-base-heading
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }
  h2 {
    @apply  text-2xl md:text-3xl;
  }
  h3 {
    @apply  text-lg md:text-2xl;
  }
  h4 {
    @apply  text-base lg:text-lg;
  }

  b, strong {
    @apply font-medium
  }

  /*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.
  
    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

}

@utility animation-pause {
  animation-play-state: paused;
}

@utility container {
  /* Container */
  @apply mx-auto px-4 py-8 md:p-8 gap-4 md:gap-8 max-w-(--breakpoint-xl) /* max-w-screen-xl - if we want to make it more narrow and stop at 1440px screen (container 1280) */;
}

@utility our-grid {
  /* Grid */
  @apply grid gap-4 md:gap-8 md:grid-cols-2 lg:grid-cols-3;
}

/* Buttons  */
/*
@utility btn {
  @apply inline-block w-fit rounded-btn px-6 py-2 lg:py-3 font-medium focus:outline-offset-4 transition duration-300 ease-in-out active:scale-95;
  &.bg-primary {
    @apply text-primary-content focus:outline-primary hover:bg-primary-600 focus-visible:ring-primary-600;
  }
  &.bg-accent {
    @apply text-accent-content focus:outline-accent hover:bg-accent-600 focus-visible:ring-accent-600;
  }
}
*/