---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import natasha from "@/assets/img/natashaOrig.jpg"

const metadata = {
	title: "Home",
	description: "...is where the heart is."
}
---

<Layout {...metadata} >

	<section class="min-h-screen content-center bg-base-primary pb-16">
		<div class="container">
			<div class="font-serif text-9xl font-bold text-accent -mb-14">“</div>
			<h2 class="text-primary-700 text-5xl pb-8">Aproveito pra te contar que tive que comprar roupas menores, pois não tinha mais nenhuma calça que servisse</h2>
			<!-- <button class="btn text-accent text-4xl" onclick="scrollIntoView('#next')"><span class="block animate-floating" style="animation-delay: 3s">⇣</span></button> -->
			<div class="text-right">
				<span class="text-xs tracking-tighter">⭐⭐⭐⭐⭐</span>
				<p class="uppercase font-bold text-primary">Jessica C.</p>
				<p class="text-sm text-neutral-600">Ela me mandou essa mensagem após 2 meses de acompanhamento, <b> comendo o que gosta, cheia de saúde e disposição</b></p>
			</div>
			<div class="text-primary text-lg my-12 font-semibold"> A próxima pode ser você <button class="btn text-3xl animate-floating" onclick="scrollIntoView('#next')">⇣</button></div>
		</div>
	</section>

	<section id="#next" class="container py-32 text-center">
		<div class="relative w-72 mb-8 mx-auto">
			<div class="absolute bottom-0 left-0 right-0 h-20 bg-gradient-to-b from-transparent to-white pointer-events-none"></div>
		</div>
		<span class="text-accent font-semibold text-sm uppercase">Bem vinda!</span>
		<h2>Meu nome é Natasha, sou nutricionista especializada em saúde da mulher, e </h2>
		<p>Some text here</p>
	</section>

</Layout>
